@charset "utf-8";




/* The very basics of document styling */


#tebless{
		 text-align:center;
		}
#tebless .milky {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  font-size: 34px;
  color: rgb(177, 106, 104);
  text-shadow: 0 8px 9px #c4b59d, 0px -2px 1px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: block;
 
}
#wrapper {
	width:600px;
	margin-left:450px;
}
#wrapper1 {
	width:600px;
	margin-left:600px;
}
#wrapper2{
	width:600px;
	margin-left:600px;
}
#button1 {
	height:24px;
	width:150px;
	border:1px solid #858fa6;
	background:#4a5775;
	/* CSS3 Styling */
	background:-moz-linear-gradient(top, #606c88, #3f4c6b);
	background:-webkit-gradient(linear, left top, left bottom, from(#606c88), to(#3f4c6b));
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	-moz-box-shadow:0px 0px 5px #000;
	-webkit-box-shadow:0px 0px 5px #000;
	box-shadow:0px 0px 5px #000;
	/* Text Styling */
	font-family:'AirstreamRegular', Georgia, 'Times New Roman', serif;
	color:#e5edff;
	text-shadow:0px 0px 5px rgba(0, 0, 0, 0.75);
	font-size:10px;
	float: left;
}

/* Pseudo-classes for interactivity */

#button1:hover, input#button1:focus {
	border-color:#adbad9;
}
#button1:active {
	background:-moz-linear-gradient(bottom, #606c88, #3f4c6b);
	background:-webkit-gradient(linear, left bottom, left top, from(#606c88), to(#3f4c6b));
	text-shadow:0px 0px 2px #000;
}
#button2{
	float: left;
	background:transparent;border:2px solid black;
	-moz-box-shadow: inset 0 0 10px #CCC;
 	-webkit-box-shadow: inset 0 0 10px #CCC;
 	box-shadow: inset 0 0 10px #CCC;
 	color:#bfbfbf;
}
#button3 {
	height:24px;
	width:150px;
	border:1px solid #858fa6;
	background:#4a5775;
	/* CSS3 Styling */
	background:-moz-linear-gradient(top, #606c88, #3f4c6b);
	background:-webkit-gradient(linear, left top, left bottom, from(#606c88), to(#3f4c6b));
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	-moz-box-shadow:0px 0px 5px #000;
	-webkit-box-shadow:0px 0px 5px #000;
	box-shadow:0px 0px 5px #000;
	/* Text Styling */
	font-family:'AirstreamRegular', Georgia, 'Times New Roman', serif;
	color:#e5edff;
	text-shadow:0px 0px 5px rgba(0, 0, 0, 0.75);
	font-size:10px;
	float: left;
}

/* Pseudo-classes for interactivity */

#button3:hover, input#button1:focus {
	border-color:#adbad9;
}
#button3:active {
	background:-moz-linear-gradient(bottom, #606c88, #3f4c6b);
	background:-webkit-gradient(linear, left bottom, left top, from(#606c88), to(#3f4c6b));
	text-shadow:0px 0px 2px #000;
}


